html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

:root {
  --base-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  --primary: #198754;
  --secondary: #ebc016;
  --grey-100: #aaa;
  --grey-200: #888;
  --grey-300: #777;
  --grey-400: #555;
  --grey-500: #202020;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  padding: 0;
  margin: 0;
}

canvas {
  margin: 0;
  padding: 0;
}
.zero-height {
  line-height: 0;
}

.canvas-div {
  background: #1a1a1a;
  position: relative;
  min-width: 0;
  min-height: 0;
  /* height: '100%'; */
  display: block;
  flex-grow: 1;
  /* flex-shrink: 0; */
  /* overflow: hidden; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
  /* background-color: rgba(0, 255, 0, 0.2); */
}
