name: Build and Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
    # branches: ["main"]

jobs:

  build:
    name: Building Meshery
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, windows-latest]

    steps:
      - name: Check out repository
        uses: actions/checkout@v1

      - name: Install node + npm
        uses: actions/setup-node@v1
        with:
          node-version: 20

      - name: "Install dependencies"
        run: npm install
      
      - name: Import Codesign Certs
        if: ${{ startsWith(matrix.os, 'macos') }}
        uses: apple-actions/import-codesign-certs@v3
        with: 
          p12-file-base64: ${{ secrets.MACOS_CERTIFICATE }}
          p12-password: ${{ secrets.MACOS_CERTIFICATE_PASSWORD }}

      # - name: Import Signing Certificate
      #   if: ${{ startsWith(matrix.os, 'macos') }}
      #   env:
      #     MACOS_KEYCHAIN_PASSWORD: ${{ secrets.MACOS_KEYCHAIN_PASSWORD }}
      #     MACOS_CERTIFICATE: ${{ secrets.MACOS_CERTIFICATE }}
      #     MACOS_CERTIFICATE_PASSWORD: ${{ secrets.MACOS_CERTIFICATE_PASSWORD }}
      #   run: |
      #     echo "$MACOS_CERTIFICATE"
      #     echo "$MACOS_CERTIFICATE" | base64 --decode > /tmp/cert.p12
      #     ls -l /tmp/cert.p12
      #     security import /tmp/cert.p12 -f pkcs12 -k ~/Library/Keychains/login.keychain-db -P "$MACOS_CERTIFICATE_PASSWORD" -T /usr/bin/codesign
      #     security unlock-keychain -p "" ~/Library/Keychains/login.keychain-db
      #     security find-identity -v -p codesigning

      - name: "Building electron app"
        env:
          OSX_SIGN: 1
          APPLE_SIGNING_IDENTITY: ${{ secrets.APPLE_SIGNING_IDENTITY }}
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
        run: npm run make


      - name: Locate zip file
        id: find_zip
        run: |
          ZIP_PATH=$(find out/make -name '*.zip' | head -n 1)
          echo "zipfile=$ZIP_PATH" >> $GITHUB_OUTPUT
        shell: bash

      # - name: Find mac zip
      #   id: zipfile
      #   if: ${{ startsWith(matrix.os, 'macos') }}
      #   run: |
      #     ZIP_PATH=$(find out/make -name '*.zip' | head -n 1)
      #     echo "zip_path=$ZIP_PATH" >> $GITHUB_OUTPUT

      # - name: Find windows zip
      #   id: zipfile
      #   if: ${{ startsWith(matrix.os, 'windows') }}
      #   run: |
      #     dir "$($env:GITHUB_WORKSPACE)\out\make\zip\win32\x64\"
      #     $zipFile = Get-ChildItem -Path "$($env:GITHUB_WORKSPACE)\out\make\zip\win32\x64\" -Filter *.zip | Select-Object -First 1
      #     if ($zipFile) {
      #       echo "ZIP_RELEASE=desktop-beta/artifacts/OpenGolfSim-${{ env.SHORT_SHA }}/$($zipFile.Name)" | Out-File -FilePath $env:GITHUB_ENV -Append
      #     }


      - name: Upload zip artifact
        uses: actions/upload-artifact@v4
        with:
          name: meshery-${{ matrix.os }}
          path: ${{ steps.find_zip.outputs.zipfile }}

  release:
    needs: build
    name: Create Release
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    steps:
      - name: Set the version environment variable
        run: echo "VERSION=${{ github.ref_name }}" >> $GITHUB_ENV

      - uses: actions/download-artifact@v4
        with:
          name: meshery-macos-latest
          path: ./release-assets/macos

      - uses: actions/download-artifact@v4
        with:
          name: meshery-windows-latest
          path: ./release-assets/windows

      # - name: Re-zip macos
      #   run: |
      #     ditto -c -k --keepParent release-assets/macos/*/*.app ./meshery-macos.zip
      - name: Re-zip macos
        run: |
          cd release-assets/macos
          zip -r ../meshery-macos-$VERSION.zip .
      
      - name: Re-zip windows
        run: |
          cd release-assets/windows
          zip -r ../meshery-windows-$VERSION.zip .

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          files: release-assets/**/*.zip