name: Build and Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
    branches: ["main"]

jobs:

  build:
    name: Building Meshery
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, windows-latest]

    steps:
      - name: Check out repository
        uses: actions/checkout@v1

      - name: Install node + npm
        uses: actions/setup-node@v1
        with:
          node-version: 20

      - name: "Install dependencies"
        run: npm install

      - name: "Building electron app"
        # env:
          # APPLE_SIGNING_IDENTITY: ${{ secrets.APPLE_SIGNING_IDENTITY }}
          # APPLE_ID: ${{ secrets.APPLE_ID }}
          # APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
          # APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
        run: npm run make


      - name: Locate zip file and set path variable
        id: find_zip # Give this step an ID to reference its outputs
        run: |
          if [ "$RUNNER_OS" == "Windows" ]; then
            $zipFile = Get-ChildItem -Path "$($env:GITHUB_WORKSPACE)\out\make\zip\win32\x64\" -Filter *.zip | Select-Object -First 1
            echo "ZIP_PATH=$zipFile" | Out-File -FilePath $env:GITHUB_ENV -Append
          else
            zipFile=$(find out/make -name "*.zip" | head -n 1)
            echo "ZIP_PATH=$zipFile" >> $GITHUB_ENV
          fi
        shell: bash

      # - name: Find mac zip
      #   id: zipfile
      #   if: ${{ startsWith(matrix.os, 'macos') }}
      #   run: |
      #     ZIP_PATH=$(find out/make -name '*.zip' | head -n 1)
      #     echo "zip_path=$ZIP_PATH" >> $GITHUB_OUTPUT

      # - name: Find windows zip
      #   id: zipfile
      #   if: ${{ startsWith(matrix.os, 'windows') }}
      #   run: |
      #     dir "$($env:GITHUB_WORKSPACE)\out\make\zip\win32\x64\"
      #     $zipFile = Get-ChildItem -Path "$($env:GITHUB_WORKSPACE)\out\make\zip\win32\x64\" -Filter *.zip | Select-Object -First 1
      #     if ($zipFile) {
      #       echo "ZIP_RELEASE=desktop-beta/artifacts/OpenGolfSim-${{ env.SHORT_SHA }}/$($zipFile.Name)" | Out-File -FilePath $env:GITHUB_ENV -Append
      #     }


      - name: Upload zip artifact
        uses: actions/upload-artifact@v4
        with:
          name: meshery-${{ matrix.os }}
          path: ${{ env.ZIP_PATH }}

